:root {
    --bg: #fafafa;/*#fdfdfd;*/ /*#fbfbfb;*/
    --darken: #151517ff;
    --dark: #26242d;
    --darking: #1d272d;
    --link: #305e7a;/*#241f6f;*/ /*#171e47;*/
    --hover: #3b87b6;/*#39329a;*/
    --hoverlighten: #3b87b6;/*#3e37a8;*/
    --gray: #656565;
    --graylight: #929292;
  
    background: var(--bg);
    color: var(--darking); /*#101010;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.625;
  
  }
  
  @custom-media --small (width <= 32em);
  @custom-media --small-up (width > 32em);
  @custom-media --medium-down (width <= 44em);
  @custom-media --medium-up (width > 44em);
  @custom-media --large-up (width >= 60em);
  
  body {
    /*font-size: 1.14em;*/
    font-size: 98%;
  
    @media (--medium-down) {
      /*font-size: 1em;*/
      font-size: 91%;
    }
  }
  
  
  .wrapper {
    /*width: 90%;*/
    padding: 1.5em calc(50% - 320px);
    margin: 0 auto;
    @media (--medium-down) {
      padding: 1.5em;
    }
  }
  
  
  p {
    margin: 1em 0;
  }
  
  a, .archive-item a {
    text-decoration:none;
    transition: color .25s;
    color: var(--dark); /*#101010;*/
    &:hover{
      color: var(--hover);
    }
    &:active{
      color: var(--dark);
    }
  }
  
  p a,li a {
    color: var(--link);
    &:hover{
      color: var(--hoverlighten);
    }
    &:active{
      color: var(--dark);
    }
  }
  
  img {
    max-width: 100%;
  }
  
  .center-area {
    text-align: center;
    margin: 2em 0;
  }
  
  .center-area img {
    display: inline-block;
    margin: auto;
    line-height: 0;
    vertical-align: middle;
  }
  
  .center-area p {
    color: var(--gray);
    margin: 0.5em 0 2em;
    font-style: italic;
  }
  
  h1 {
    font-weight: normal;
    font-size: 1.75em;
  }
  
  h2 {
    font-weight: 700;
    font-size: 1.35em;
    margin: 1em 0;
  }
  
  h3 {
    font-weight: bold;
    font-size: 1.17em;
  }
  
  ul {
        list-style-type: disc;
        margin-left: 1em;
  }
  
  li {
    margin: 0.5em;
  }
  
  video {
    max-width: 100%    !important;
    height: auto   !important;
  }
  
  ol {
      list-style-type: decimal;
      list-style-position: outside;
      margin: 1em 0;
  }
  
  ol li {
    margin: 0.5em 1em 0.5em;
  }
  
  hr {
    margin: 2em 0;
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to left, #92929200, var(--graylight), #92929200);
    background-image: -webkit-linear-gradient(to left, #92929200, var(--graylight), #92929200);
    background-image: -moz-linear-gradient(to left, #92929200, var(--graylight), #92929200);
    background-image: -ms-linear-gradient(to left, #92929200, var(--graylight), #92929200);
    background-image: -o-linear-gradient(to left, #92929200, var(--graylight), #92929200);
    
  }
  
  blockquote {
    margin: 2.25em 0;
    padding: 0 1.25em;
    font-weight: bold;
    color: var(--gray); /*#656565;*/
    border-left: 6px solid var(--graylight);
  }
  