
a {
  text-decoration: none;
}

.error-content {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (--small-down) {
    max-width: 100%;
    width: auto;
    padding: 0 var(--tbu-spacing-s);
  }
}

.error-content h2 {
  margin: 0 0 0.75em 0;
}

.error-inner {
  margin-bottom: 2rem;
}

.info {
  margin-bottom: 2em;
}