---
title: Archive
permalink: /archive/
layout: page
---

{% assign lastItem = false %}

{% for post in site.posts %}

  {% assign year = post.date | date: "%Y" %}

  {% if year != date %}

    {% if forloop.first == false %}
    </ul>
    {% endif %}

    {% assign date = year %}

    <h3>{{year}}</h3>
    <ul class="archive-list">

  {% endif %}

  <li class ="archive-item">
  <span>{{ post.date | date: "%b %-d" }}</span>
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  <span> 
   {% if post.lang %}
   {% if post.lang != "EN" %}
   | <small class="post-lang">{{post.lang}}</small>
   {% endif %}
  {% endif %}
</span>
  </li>

  {% if forloop.last %}
      </ul>
  {% endif %}
{% endfor %}
