---
layout: default
---

{%- comment -%} <section class="section-content" id="welcome">
  <div class="wrapper">
    <div >
{% assign welcome = "Tobias Beise Ulrich Game Developer" %}


    <h1 class="hello">{{ welcome }}</h1>
    </div>
  </div>
</section> {%- endcomment -%}


<section class="section-content" id="portfolio">
  <div class="wrapper">


      {% assign portfolio = site.data.portfolio %}
      {% assign portfolioList = portfolio.sections %}
      
      {%- comment -%} Loop in projects {%- endcomment -%}
      {% for section in portfolioList %}

        {% assign isFeatured = false %}

        {%- comment -%} In this project section, has availble list {%- endcomment -%}
        {% if section[1].projects %}
     
          {%- comment -%} Check for project section title {%- endcomment -%}
          {% if section[1].name %}
            {% assign sectionName = section[1].name %}
          {% else %}
            {% assign sectionName = section[0] | capitalize | append: " Projects" %}
          {% endif %}

          <div class="portfolio-title">
              <h1 class="headline">{{ sectionName }}</h1>
          </div>

          {% assign sectionSize = 4 %}
          {% if section[1].col %}
            {% if section[1].col > 0 and section[1].col <= 4 %}
              {% assign sectionSize = section[1].col %}
            {% endif %}   
          {% endif %} 

          <div class="project-section{% if sectionSize != 1 %} fx{% endif %}">     

          {% for project in section[1].projects %}

            {% case sectionSize %}
              {% when 1 %}
                {% include portfolio/project-featured.html %}
              {% else %}
                {% include portfolio/project-small.html size=sectionSize %}
            {% endcase %}
          {% endfor %}

          </div>

        {% endif %}
      {% endfor %}

  </div>
</section>
