

  {% if page.url == "/portfolio/" %}
      <script src='{{site.baseurl}}/js/responsive-img.min.js'></script>
  {% endif %}

{% if page.imageGallery != null %}

<script  type="text/javascript">

    var path = "{{site.baseurl}}/img/";
    var openPhotoSwipe = function() {
    var pswpElement = document.querySelectorAll('.pswp')[0];

    // build items array
    var items = [
        {
            src: path + "game_inside.png", //'https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg',
            w: 320,
            h: 240
        }
    ];

    // define options (if needed)
    var options = {
			 // history & focus options are disabled on CodePen
      	history: true,
      	focus: true,

        showAnimationDuration: 0,
        hideAnimationDuration: 0

    };

    var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
    gallery.init();


};

/*openPhotoSwipe();*/

/*document.getElementById('btn').onclick = openPhotoSwipe;*/

</script>

{% endif %}

<!--

<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer> -->
