

<!--<div class="wrapper">  -->
<header class="site-header">



    <div class="header">

          <div id="site-brand">

            <a  href="{{ site.baseurl }}/">

          <img alt="site.title" src="{{ site.baseurl }}/img/brand2.png">
          <div id="site-brand-hover">
            <img alt="site.title" src="{{ site.baseurl }}/img/brand3.png">
            </div>
            </a>

          </div>

      <!--<div class="site-title">

      {{ site.title }}
    </div>
    -->


    {% include nav.html %}

</div>

<!--  inclde nav.html  -->




</header>
<!--  </div>-->

{% include specific.html %}
