
  {% assign path = "/js/photoswipe/" %}

<!-- Core CSS file -->
<link rel="stylesheet" href="{{ "photoswipe.css" | prepend: path | prepend: site.baseurl }}">

<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite,
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="{{ "default-skin/default-skin.css" | prepend: path | prepend: site.baseurl }}">

<!-- Core JS file -->
<script src="{{ "photoswipe.min.js" | prepend: path | prepend: site.baseurl }}"></script>

<!-- UI JS file -->
<script src="{{ "photoswipe-ui-default.min.js" | prepend: path | prepend: site.baseurl }}"></script>
