


{% assign div = "full" %}
{% assign plus = " project-margin" %}
{% assign plusCap = "" %}

{% if type == "Split" %}

  {% assign div = "split" %}
  {% assign loopindex = forloop.index0 | modulo: 2 %}
  {% assign isLast = forloop.last %}

  {% if isLast or loopindex != 0 %}
    {% assign plus = " project-margin last" %}
  {% else %}
    {% assign plus = " project-margin" %}
  {% endif %}

{% elsif type == "Split4" %}

    {% assign plusCap = " tiny" %}
    {% assign div = "split4" %}
    {% assign loopindex = forloop.index | modulo: 4 %}
    {% assign isLast = forloop.last %}

    {% if isLast or loopindex == 0 %}
      {% assign plus = " project-margin last" %}
    {% elsif loopindex == 2 %}
      {% assign plus = " project-margin snd" %}
    {% else %}
      {% assign plus = " project-margin" %}
    {% endif %}

{% endif %}


  <div class="project-{{ div }}{{ plus }}">
    <a href="{% if subitem.link == null %}{{ subitem.url | prepend: purl | prepend: site.baseurl }}{% else %}{{subitem.url}}{% endif %}" {% if subitem.link != null %}target="_blank"{% endif %}>
      <div class="port-image" >

        <div class="port-caption {{plusCap}}"><p>{{subitem.title}}</p></div><!---->
        {% if type == "Full" %}
        <img alt="{{ subitem.title }}" data-src-base='{{ site.baseurl }}/img/' data-src='<704:{{subitem.img}},>704:{{subitem.imgWide}}'/>
     <noscript><img src="{{ site.baseurl }}/img/{{subitem.img}}" alt="{{ subitem.title }}"></noscript>
        {% else %}
        <img src="{{ site.baseurl }}/img/{{subitem.img}}" alt="{{ subitem.title }}">
        {% endif %}

      </div>
    </a>
  </div>
