
a {
  text-decoration:none;
  color: #304B57;
  transition: .3s;
  &:hover{
    color: #4e88a2;
  }
}

.wrapper {
  /*width: 90%;*/
  padding: 1.5em calc(50% - 320px);
  margin: 0 auto;
  @media (--medium-down) {
    padding: 1.5em;

  }
}

.site-header {

  width: 100%;

  /*
  padding: 1.5em 0 0;
  background-color: #eee;
  background-image: url('{site.baseurl}img/noisy.png');
  background-repeat: repeat-x;*/
}

.header {
  display: inline-block;
}

.site-brand {
  display: inline-block;
  line-height: 0;
  float: left;

  margin-right: 1em;
  @media (--medium-down) {
    width: calc(0.85*64px);
    /*margin-right: 0.85em;*/
  }
  @media (--small) {
      width: calc(0.7*64px);
      /*margin-right: 0.75em;*/
  }


}

.site-brand a
{
  font-size: 0;
}

.site-brand img {
  width: 100%;
  height: auto;
}

/*
.site-title {
  color: #0A0A0A;
  font-size: 1.65em;
  display: inline-block;
  float: left;
  position: absolute;
  top: 42px;

  @media (--medium-down) {
    top: 36px;
  }

  @media (--small) {
    font-size: 1.35em;
  }
}*/

/* NAVIGATION */

.site-nav {
  display: inline-block;
  font-size: 1em;
  position: relative;
  padding: 1.2em 0 0 0;
/*  padding: .5em 0;*/
  @media (--small) {
    display: block;
    width: 100%;
  }
}

.nav-item {
  display: inline-block;
  text-align: center;
  margin: 0 1em 0 0;
  padding: 0;
  /*padding: 0 0.5em;*/
    /*padding: 0.2em 0;
    */
}

.nav-item:last-child {
  margin: 0;
  /*padding: 0 0.5em 0 0 ;*/
}

/*@media (--small-up) {
  .nav-item:first-child {
    margin: 0 1em 0 0;
    /*padding: 0 0.5em 0 0 ;
  }

}*/

.page-content {
    padding: 2em 0;
}

.page-heading {
  margin-bottom: 1.5em;
  font-weight: normal;
  font-size: 1.75em;
}


/*.post-title {
  margin: 0.5em 0;
}*/

ul.post-list {
  list-style-type: none;
  margin: 0 ;
}

li.post-item {
  margin: 0 0 4em 0;
}

.post-meta {
  font-size: 0.8em;
  display: block;
  margin: 0 0 1em;
  color: #656565
}

.post-header {
  text-align: left;
  margin-bottom: 1.5em;
}

.post-read-more
{
  font-size: 0.85em;
  font-weight: bold;
  display: block;
  color: #656565
}

.post-link {
  color: #0A0A0A;
  margin-bottom: 1em;
}

.post-comments {
  margin: 3em 0;
}

.box {
  padding: 1em;
  display: block;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 1em 0;
  font-size: 0.8em;
  color: #656565;
    text-align: center;
}

.box-link {
  width: 50%;
  padding: 0.5em;
  display: block;
  border-radius: 4px;
  margin: 0.5em auto;
  font-size: 1.25rem;
  color: #fff;
 background-color: #5b7833;
  &:hover{
    background-color: #000;
  }

  @media (--medium-down) {
    width: 100%;
  }

}

.video-container {
    position: relative;
    /*padding-top: 30px;*/
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.widevideo {
  padding-bottom: 56.25%;
}

.fb {
  max-width: 100%;
  margin: 1em 0;
  text-align: center;
}
