:root {
  background: #fff;
  color: #101010;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}


@custom-media --small (width <= 32em);
@custom-media --small-up (width > 32em);
@custom-media --medium-down (width <= 44em);
@custom-media --medium-up (width > 44em);
@custom-media --large-up (width >= 60em);

body {
  /*font-size: 1.14em;*/
  font-size: 100%;

  @media (--medium-down) {
    /*font-size: 1em;*/
    font-size: 91.5%;
  }
}

p {
  margin: 1em 0;
}

a {
  text-decoration:none;
  transition: .3s;
  color: #101010;
  &:hover{
    color: #273278;
  }
  &:active{
    color: #101010;
  }
}

p a {
  color: #171e47;
  &:hover{
    color: #273278;
  }
  &:active{
    color: #101010;
  }
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
}



h1 {
  font-weight: normal;
  font-size: 1.75em;
}

h3 {
  font-weight: bold;
  font-size: 1.17em;
}

ul {
      list-style-type: disc;
      margin-left: 1em;
}

li {
  margin: 0.5em;
}

video {
  max-width: 100%    !important;
  height: auto   !important;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin: 1em 0;
}

ol li {
  margin: 0.5em 1em 0.5em;
}

hr {
  margin: 2em 0;
}

blockquote {
  margin: 1.5em 0;
  padding: 0 1em;
  color: #656565;
  border-left: 6px solid #656565;
}
