
.portfolio {
  /*padding: 1em 0;*/
  line-height: 0;
  overflow: hidden;
}

.portfolio-item {
  clear: both;
  position: relative;
  line-height: 0;
  margin: auto;
  overflow: hidden;
}

.project-margin {
    margin-bottom: 1.5%;
}

.project-split {
  width: 49.25%;
  float: left;

  margin-right: 1.5%;

  position: relative;
  display: block;
  /*background-color: aquamarine;*/

  @media (--small) {
    float: none;
    margin-right: 0%;
    width: auto;

  }
}

.project-full {
  @media (--medium-down) {
    max-width: 560px;
    margin: 0 auto 1.5%;
  }
}

.project-full, .project-split .port-image {

  @media (--small) {
    /*max-width: 560px;*/
    margin: auto auto 1.5% auto;
    text-align: center;
  }

  @media (--small) {
    max-width: 100%;
  }

}

.project-group {

  display: block;

  @media (--medium-down) {
    /*max-width: 560px;*/
    margin: auto auto 1.5% auto;
    text-align: center;
  }

}

.project-split4 {
  width: 23.875%;
  float: left;
  margin-right: 1.5%;
  position: relative;
  display: block;
  /*background-color: aquamarine;*/

  @media (--small) {

    width: 49.25%;
  }
}

.first {

}

.snd {
  @media (--small) {
    margin-right: 0px;
  }
}

.thd {

}

.last { /*last porfolio item*/
    margin-right: 0px;
}


.port-image {
  overflow: hidden;
  position: relative;
  display: block;
  /*max-width: 85%;
  text-align: center;*/
}

.port-image img  {
  z-index: 1;
  overflow: hidden;
}

.port-caption {
  width: 100%;
  z-index: 99999;

  position: absolute;

  background-color: var(--darking); /*rgba(0,0,0,0.9)*/
  border-top: 1px rgba(255,255,255,0.14) solid;
/*  border-right: 1px white solid; left: -100%;*/
@media (--medium-up) {
  bottom: -50%;
  transition: bottom 0.25s;
  transition-timing-function: ease-out;
}
@media (--medium-down) {
  bottom: 0%;
  transition-property: none;
}
}

.port-caption p {
  padding: 0.75em;
  font-size: 0.9em;
  /*font-style: italic;*/
 text-transform: none;
 margin: 0;
 color: var(--bg);
 line-height: initial;
 text-align: center;

}

.tiny {
  display: none;
}

.port-image:hover .port-caption {
  bottom: 0;
}

.block {
  text-align: center;
  margin: 1em 0;
  display: inline-block;
  line-height: 0px;
}

.block:before {
  content: '\200B';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%;
  vertical-align: middle;
 }

.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
 }
