
.portfolio {
  @media (--medium-up) {
    padding-left: var(--wrapper-pad);
    padding-right: var(--wrapper-pad);
  }
  margin: 0 auto;

}

.portfolio-inner
{
  line-height: 0;
  overflow: hidden;
}

.portfolio-item {
  clear: both;
  position: relative;
  line-height: 0;
  margin: auto;
  overflow: hidden;
}
/*
.project-margin {
  margin-bottom: 1.5%;
}*/

.project-split {
  width: calc(50% - 0.125rem);/*50%;*//* 49.25%;*/
  float: left;

  margin-right: 0.25rem;
  margin-bottom: 0.25rem;

  position: relative;
  display: block;

  @media (--small) {
    float: none;
    margin-right: 0;
    width: auto;

  }
}

.project-full {
  @media (--medium-down) {
    max-width: 560px;
    margin: 0 auto 1.5%;
  }
}

.project-full, .project-split .port-image {

  @media (--small) {
    /*max-width: 560px;*/
    /*margin: auto auto 1.5% auto;*/
    text-align: center;
    max-width: 100%;
  }

}

.project-group {

  display: block;

  @media (--medium-down) {
    /*max-width: 560px;*/
    /*margin: auto auto 1.5% auto;*/
    text-align: center;
  }

}

.project-split4 {
  width: calc(25% - 0.1875rem);/*23.875%;*/
  float: left;
  /*margin-right: 1.5%;*/
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  position: relative;
  display: block;
  /*background-color: aquamarine;*/

  @media (--small) {
    width: calc(50% - 0.125rem);/* 49.25%;*/
  }
}

.first {

}



.thd {

}

 /*last porfolio item*/
.last {
    margin-right: 0;
}


.port-image {
  overflow: hidden;
  position: relative;
  display: block;
  /*max-width: 85%;
  text-align: center;*/
}

.port-image img  {
  z-index: 1;
  /*overflow: hidden;*/
}

.port-overlay {
  width: 100%;
  height: 100%;
  z-index: 99999;
  /*top: 0;*/
  left: 0;
  right: 0;
  /*bottom: 0;*/
  opacity: 0;
  position: absolute;

  background-color: var(--darken);
 /* border-top: 1px rgba(255,255,255,0.14) solid;
  border-right: 1px white solid; left: -100%;*/
@media (--medium-up) {
  /*bottom: -50%;*/
  transition: opacity 0.25s;
  transition-timing-function: ease-out;
}
@media (--medium-down) {
  bottom: 0%;
  transition-property: none;
  opacity: 1;/*0.85;*/
  height: auto;
}
}

.port-image:hover .port-overlay {
  bottom: 0;
  opacity: 1;  
 }

.port-overlay p {
  position: absolute;
  font-size: 1.2em;
  /*font-style: italic;
  padding: 0.75em;
  */
 text-transform: none;
 margin: 0;
 color: var(--tbu-bg);
 line-height: initial;
 text-align: center;

 @media (--medium-up) {
 text-shadow: 2px 2px #0006;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}
@media (--medium-down) {
  position: relative;
  padding: 0.85em;
  font-size: 1.1em;
  transform: none;
}

}

.tiny {
  display: none;
}



.block {
  text-align: center;
  margin: 1em 0;
  display: inline-block;
  line-height: 0px;
}

.block:before {
  content: '\200B';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%;
  vertical-align: middle;
 }

.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
 }
