
a {
  text-decoration:none;
  color: #5b7833;
}



.page-content {
    padding: 2em 0;
}


.site-header {

  text-align: left;
  /*padding: 2em calc(50% - 310px);*/
  padding: 1.25em 0;
  width: 100%;

  /*background-color: #eee;
  background-image: url('{site.baseurl}img/noisy.png');*/
  background-repeat: repeat-x;

}

.wrapper {
  width: 92%;
  margin: 0 auto;
  @media (--medium-up) {
  padding: 0 calc(50% - 420px);
  }
}

.site-brand {
display: inline-block;
  @media (--medium-down) {
  /*  margin: 0 auto;*/
    display: block;
  }
}

.site-title {
  color: #000;
  font-size: 2.0rem;
  /*font-family: 'Droid Serif';*/
  /*display: block;*/
  display: inline-block;
  @media (--medium-down) {
    display: none;
  }
}

.site-nav {
  width: 100%;
  padding: .5em 0;
}

.nav-group {
  display: block;
  font-size: 1rem;
  color: #000;
}

.nav-item {
  display: inline-block;
  text-align: center;
  margin: 0 1em;
  padding: 0 0.5em;
  color: #000;
  &:hover{
    color: #5b7833;
  }
}


.post-item {
  margin-bottom: 4em;
}

.post-meta {
  font-size: 0.85em;
  display: block;
  margin: 0.5em 0;
  color: #4d4d4d;
}

.post-header {
  text-align: center;
}

p {
  margin: 1em 0;
}
