:root {
  background: #fff;
  color: #0A0A0A;
  font-family: 'Droid Serif', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}


@custom-media --small (width <= 27em);
@custom-media --medium-down (width <= 44em);
@custom-media --medium-up (width > 44em);
@custom-media --large-up (width >= 60em);

body {
  font-size: 1.14em;

  @media (--medium-down) {
    font-size: 0.95em;
  }
}

p {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: normal;
}

ul {
      list-style-type: disc;
      margin-left: 1em;
}

li {
  margin: 0.5em;
}
