
.portfolio {
  padding: 1em 0;
  line-height: 0;
  overflow: hidden;
}

.portfolio-item {
  clear: both;
  position: relative;
  line-height: 0;
  margin: auto;
  overflow: hidden;
}

.project-margin {
    margin-right: 2.5%;
    margin-top: 2.5%;
}

.project-split {
  width: 48.75%;
  float: left;

  position: relative;
  display: block;
  /*background-color: aquamarine;*/

  @media (--medium-down) {
    float: none;
    margin-right: 0%;
    width: 100%;

  }
}

.project-split .port-image {

  @media (--medium-down) {

    /*max-width: 85%;*/
    /*margin: 0 5%;*/
      text-align: center;
  }

  @media (--small) {

    max-width: 100%;

  }

}

.project-split4 {
  width: 23.125%;
  float: left;

  position: relative;
  display: block;
  /*background-color: aquamarine;*/

  @media (--medium-down) {

    width: 48.75%;
  }
}

.first {

}

.snd {
  @media (--medium-down) {
    margin-right: 0px;
  }
}

.thd {

}

.last { /*last porfolio item*/
    margin-right: 0px;
}

.port-image {
  overflow: hidden;
  position: relative;
  display: block;
}

.port-image img  {
  z-index: 1;
  overflow: hidden;
}


.port-caption {
  width: 100%;
  z-index: 99999;
  opacity: 0;
  position: absolute;
  bottom: 0;
  background-color: #eee
}

.port-caption p {
  padding: 0.5em;
 text-transform: none;
 margin: 0;
 color: #000;
 line-height: initial;
}

.port-image:hover .port-caption {
  opacity: 1;
}
