
.my-gallery {
  width: 100%;
  display: block;
  line-height: 0px;
  overflow: hidden;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  /*margin: 0 5px 5px 0;
  width: 150px;*/

}



.three-figure {
  width: calc(33.33333333333333333% - 0.1875rem);/*32.65%;*/

/*  @media (--small) {
      width: 100%;
      float: none;
      margin-right: 0px;
      margin-bottom: 0.5%;
  }*/
}

.two-figure {
    width: calc(50% - 0.125rem);/*49.5%;*/
}

.four-figure {
  width: calc(25% - 0.2550rem);/*49.5%;*/
}

.my-gallery .last {
    margin-right: 0;
}

.my-gallery figcaption {
  display: none;
}


.pswp__bg {
background: var(--darken); /*#040404;*/
}

.pswp__button:before {
  background-color: transparent;
}
