---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    <div class="portfolio">
      <div class="portfolio-inner">



      {% assign portfolio = (site.pages | where: "portfolio" , "true") %}
      {% for my_page in portfolio %}
        {% if my_page.title %}
        {% assign section = my_page.section %}
        {% assign div = "mid" %}
        {% assign loopindex = forloop.index0 | modulo: 2 %}
        {% assign isLast = forloop.last %}
          {% if isLast or loopindex != 0 %}
            <div class="port-item-mid port-item-margin lastPort" >
          {% else %}
            <div class="port-item-mid port-item-margin" >
          {% endif %}
            <a href="{{ my_page.url | prepend: site.baseurl }}">
              <div class="port-image" >
                <img src="{{ site.baseurl }}/img/{{my_page.img}}" alt="{{ my_page.title }}">
              </div>
                </a>
            </div>
        {% endif %}
      {% endfor %}

        </div>

    </div>

  </div>

</article>
