---
layout: default
---
<article class="post">

  <header class="post-header" style="margin:0em auto 1em auto; /*max-width:560px;*/">
    {% if page.logo == null %}
    <h1 class="post-title">{{ page.title }}</h1>
    {% else %}
      <img src="{{ site.baseurl }}/img/portfolio/{{page.logo}}" alt="{{ page.title }}">
    {% endif %}

  </header>

  {% if page.imageGallery != null %}
      {% include portfolio-image-gallery.html %}
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

</article>
