
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en-US" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>{{ meta.title }}</title>
    <meta name="author" content="{{ meta.author }}" >
    <meta name="description" content="{{ meta.description }}">